body{
    font-family: "Roboto", sans-serif;
}
.display {
    display: none;
}

body {
    background-color: #F3F5FC;
}

.header {
    padding: 30px 15px 14px 15px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.contenedor-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

.idInputTexto {
    height: 370px;
    width: 343px;
    resize: none;
    outline: none;
    border: none;
    font-size: 32px;
    line-height: 38px;
    color: #0A3871;
    background-color: transparent;
}


.mensaje-advertencia {
    width: 100%;
    text-align: left;
    color: #495057;
}

.contenedor-input-botones {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.btnEncriptar,
.btnDesencriptar {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
}

.btnEncriptar {
    background-color: #0A3871;
    border: none;
    color: #ffffff;
}

.btnDesencriptar {
    background-color: #ffffff;
    border: 1px solid #0A3871;
    color: #0A3871;
}

.contenedor-output {
    width: 100%;
    min-height: 186px;
    background-color: #ffffff;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin-top: 41px;
}

.contenedor-output-TextoNoEncontrado {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.titulo-textoNoEncontrado {
    font-size: 24px;
    font-weight: 700;
    padding: 0 57px;
    color: #343A40;
}

.mensaje-textoNoEncontrado {
    font-size: 16px;
    font-weight: 400;
    padding: 0 57px;
    color: #495057;
}

.img-textoNoEncontrado {
    display: none;
}

.contenedor-output-TextoResultado {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.TextoResultado {
    height: 100%;
    color: #495057;
    overflow-y: auto;
    font-size: 24px;
    line-height: 36px;
    padding: 25px 25px 0 25px;
}

.btnCopiar {
    background-color: #ffffff;
    border: 1px solid #0A3871;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    height: 67px;
    border-radius: 24px;
    margin: 0px 25px 25px 25px;
}

.display {
    display: none;
}

/* Resposive Tablet */
@media screen and (min-width: 768px) {

    .header {
        padding: 60px 32px 28px 32px;
    }

    .main {
        padding: 32px;
    }

    .idInputTexto {
        height: 670px;
        width: 688px;
    }

    .contenedor-input-botones {
        flex-direction: row;
    }

    .contenedor-output {
        min-height: 133px;
        margin-top: 48px;
    }

}

/* Resposive Escritorio */
@media screen and (min-width: 1280px) {
    html{
        height: 100%;
    }
    body {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #F3F5FC;
    }
    .header{
        padding: 32px 60px 10px 60px ;
    }
    .main {
        max-width: 1440px;
        flex-grow: 1;
        min-height: 496px;
        max-height: 945px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 32px;

    }

    .contenedor-input {
        flex-grow: 1;
        height: 100%;
    }

    .idInputTexto{
        height: 100%;
        width: 680px;
    }

    .mensaje-advertencia {
        width: 680px;
        text-align: left;
    }

    .contenedor-input-botones{
        justify-content: center;
    }
    
    .btnEncriptar, .btnDesencriptar{
       max-width: 328px;
    }

    .contenedor-output{
        width: 400px;
        height: 100%;
        margin-top: 0;
    }

    .img-textoNoEncontrado {
        display: block;
        width: 335px;
        margin: auto;
    }
}

@media screen and (min-width: 1505px) {
    .main{
        width: 1440px;
        margin: auto;
    }
}