html,body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F3F5FC;
}
/* header */
.header{
    padding: 20px 30px 10px 30px;
    max-width: 1440px;
}

.header-logo{
    height: 40px;
}

/* main */
.main{
    max-width: 1440px;
    display: flex;
    flex-grow: 1;
    min-height: 496px;
    max-height: 945px;
    padding: 10px 30px 10px 30px;
    gap: 15px;
}

.contenedor-input{
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.idInputTexto{
    height: 100%;
    width: 680px;
    resize: none;
    outline: none;
    border: none;
    font-size: 32px;
    line-height: 38px;
    color: #0A3871;
    background-color: transparent;
}

.idInputTexto::placeholder{
    color: #0A3871;
}

.mensaje-advertencia{
    width: 680px;
    text-align: left;
    color: #45565F;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.btnEncriptar, .btnDesencriptar{
    width: 328px;
    font-size: 16px;
    font-weight: 400;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
}

.btnEncriptar{
    background-color: #0A3871;
    border: none;
    color: #ffffff;
    margin-right: 24px;
}

.btnDesencriptar{
    background-color: #ffffff;
    border: 1px solid #0A3871;
    color: #0A3871;
}

.contenedor-output{
    width: 340px;
    background-color: #ffffff;
    box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 30px;
}

.contenedor-output-TextoNoEncontrado{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.img-textoNoEncontrado{
    max-width: 335px;
}

.titulo-textoNoEncontrado{
    font-size: 24px;
    font-weight: 700;
    padding: 0 25px;
}

.mensaje-textoNoEncontrado{
    font-size: 16px;
    font-weight: 400;
    padding: 0 25px;
}

.contenedor-output-TextoResultado{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.TextoResultado{
    height: 100%;
    color: #495057;
    overflow-y: auto;
    font-size: 24px;
    line-height: 36px;
}

.btnCopiar{
    background-color: #ffffff;
    border: 1px solid #0A3871;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    height: 67px;
    border-radius: 24px;
}